{% extends "baseApp/POZO/LTR/art/base.html" %}
{% load static %}

{% block head_title %}
  <title>Art Collections - Saeedeh Keshvari</title>
  <meta name="description" content="Saeedeh Keshvari's art pieces has been sold worldwide & went to hundreds of new home of art collections in cities such as Dubai, Abu Dhabi, Jeddah, Riyadh, London, Paris, Madrid, Toronto, Vancouver, San Francisco, Los Angels, etc.">
{% endblock head_title %}

{% block body_content %}
<!-- Projects -->
<section class="projects pt-130 mb-60">
    <div class="container">
        <div class="row">
            <div class="section-head col-md-12 text-center animate-box" data-animate-effect="fadeInUp">
                <h4>My Collections</h4>
            </div>
            {% for item in collections %}
              <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                <div class="item">
                    <div class="position-re o-hidden">
                      <a href="{% url "baseApp:art_portfolio" collection_slug=item.slug %}">
                        <img src="{{item.image_main.url}}" alt="">
                      </a>
                    </div>
                    <div class="con">
                        <h5><a href="{% url "baseApp:art_portfolio" collection_slug=item.slug %}">{{item.name}}</a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body_content %}
