{% extends "baseApp/POZO/LTR/art/base.html" %}
{% load static %}



{% block head_title %}
  <title>Saeedeh Arts</title>
  <meta name="description" content="">
{% endblock head_title %}

{% block head_extra %}
  <!-- CSS BE-THEME -->
  <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/global.css" %}">
  <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/structure.css" %}">
{% endblock head_extra %}


{% block body_content %}
        <!-- Slider -->
        <div class="container">
            <section class="pozo-section-slider pt-130">
                <div class="next-container-center">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                          <!-- Swiper Slides -->
                          {% for item in banners %}
                            <div class="swiper-slide">
                                <div class="swiper-slide-block">
                                    <div class="swiper-slide-block-img animate-box" data-animate-effect="fadeInLeft" data-swiper-parallax-y="70%">
                                        {% if item.target_url %}
                                        <a href="{{item.target_url}}"> <img src={{item.image.url}} alt=""> </a>
                                        {% else %}
                                        <img src={{item.image.url}} alt="">
                                        {% endif %}
                                    </div>
                                    <div class="swiper-slide-block-text animate-box" data-animate-effect="fadeInRight">
                                        <h2 data-swiper-parallax-x="-60%" class="next-main-title">{{item.title}}</h2>

                                        {% if item.sub_title %}
                                        <h3 data-swiper-parallax-x="-50%" class="next-main-subtitle">{{item.sub_title}}</h3>
                                        {% endif %}

                                        {% if item.description %}
                                        <p data-swiper-parallax-x="-40%" class="next-paragraph">{{item.description}}</p>
                                        {% endif %}

                                        {% if item.target_url %}
                                        <a data-swiper-parallax-x="-30%" style="z-index: 5;" class="next-link" href="{{item.target_url}}">Discover more</a>
                                        {% endif %}
                                        <span data-swiper-parallax-y="60%" class="next-number">{{forloop.counter}}</span>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="swiper-button-next animate-box" data-animate-effect="fadeInRight"> <i class="fad fa-long-arrow-alt-right fa-2x"></i> </div>
                        <div class="swiper-button-prev animate-box" data-animate-effect="fadeInLeft"> <i class="fad fa-long-arrow-alt-left fa-2x"></i> </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Gallery -->
        <div class="pozo-section pt-80">
          <div class="container">
                <div class="section-head text-center mb-5 col-md-12 animate-box" data-animate-effect="fadeInUp">
                    <h4>Photo Gallery</h4>
                </div>
                <!-- Mansonry -->
                {% include "baseApp/POZO/LTR/art/mansonry-gallery.html" %}
          </div>
        </div>
{% endblock body_content %}


{% block body_JS %}

  <!-- BE-THEME for Mansonry Gallery section -->
  <script src="{% static "baseApp/POZO/LTR/js/plugins/jquery-plugins-BeTheme.js" %}"></script>
  <script src="{% static "baseApp/POZO/LTR/js/scripts-BeTheme.js" %}"></script>

  <script type="text/javascript">

    $('[data-fancybox="images"]').fancybox({
    	protect: true,
      loop: true,
    });

  </script>
{% endblock body_JS %}
