{% load static %}

<div id="rev_slider_16_1_wrapper"
    class="rev_slider_wrapper fullwidthbanner-container"
    data-alias="highlight-carousel16"
    style="margin:0px auto;background-color:#000;padding:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
    <div id="rev_slider_16_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
          {% for item in about_banners %}
            <!-- SLIDE -->
            <li data-index="rs-5{{ forloop.counter }}"
                data-transition="slideoverhorizontal"
                data-slotamount="7"
                data-easein="default"
                data-easeout="default"
                data-masterspeed="1500"
                data-rotate="0"
                data-fstransition="fade"
                data-fsmasterspeed="1000"
                data-fsslotamount="7"
                data-saveperformance="off"
                data-description="">

                <!-- MAIN IMAGE -->
                <img src={{item.image.url}} alt="{{item.title}}-{{item.sub_title}}"
                data-bgposition="center bottom"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
                data-bgparallax="10"
                class="rev-slidebg" data-no-retina>

                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption News-Title tp-resizeme rs-parallaxlevel-0"
                 id="slide-51-layer-1"
                 data-x="['left','left','left','left']"
                 data-hoffset="['80','80','40','40']"
                 data-y="['top','top','top','top']"
                 data-voffset="['530','530','330','230']"
                 data-width="700"
                 data-height="133"
                 data-fontsize="['50', '50', '40', '32']"
                 data-whitespace="normal"
                 data-transform_idle="o:1;"
                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="y:[100%];s:1000;s:1000;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                 data-start="500"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 5; white-space: normal;">
                 {{ item.title }}
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
                id="slide-51-layer-2"
                data-x="['left','left','left','left']"
                data-hoffset="['80','80','40','40']"
                data-y="['top','top','top','top']"
                data-voffset="['587','587','382','282']"
                data-width="none" data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="x:[100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="500"
                data-responsive_offset="on"
                style="z-index: 6;">
                  <img src="{% static "baseApp/BE-THEME/plugins/rs-plugin/assets/images/bluebar.png" %}" alt=""
                  width="350" height="4" data-ww="['350px','350px','350px','350px']"
                  data-hh="['4px','4px','4px','4px']" data-no-retina>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption News-Subtitle tp-resizeme rs-parallaxlevel-0"
                id="slide-51-layer-3"
                data-x="['left','left','left','left']"
                data-hoffset="['81','81','41','41']"
                data-y="['top','top','top','top']"
                data-voffset="['605','605','401','301']"
                data-width="none" data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeInOut;"
                data-style_hover="c:rgba(255, 255, 255, 0.65);br:0 0 0px 0;cursor:pointer;"
                data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                data-transform_out="y:[100%];s:1000;s:1000;"
                data-mask_in="x:0px;y:0px;"
                data-mask_out="x:inherit;y:inherit;"
                data-start="500" data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                style="z-index: 7; white-space: nowrap;">
                {{ item.sub_title }}
                </div>
            </li>
          {% endfor %}
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>
