{% load static %}

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <!-- About Me Title -->
                <div class="section mcb-section no-margin-v bg-contain mt-5" style="text-align:center;">
                  <div class="section_wrapper mcb-section-inner">
                      <div class="wrap mcb-wrap one  valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                          <div class="mcb-column column_column">
                              <div class="column_attr clearfix" >
                                  <hr class="no_line" style="margin:0 auto 10px">
                                  <h2>About Me</h2>
                                  <hr class="no_line" style="margin:0 auto 30px">
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <!-- 1/4 part 1-->
                <div class="section mcb-section no-margin-h no-margin-v equal-height-wrap full-width" >
                    <div class="section_wrapper">
                        <!-- Image -->
                        <div class="wrap mcb-wrap one-second valign-top bg-cover clearfix animate-box" data-animate-effect="fadeInUp" style="background-image:url({% static "baseApp/BE-THEME/images/ovan.jpg" %});background-repeat:no-repeat;background-position:center">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 550px">
                                </div>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix" style="padding: 5% 5% 0% 5%;">
                            <div class="">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix animate-box" data-animate-effect="fadeInUp" >
                                        <h6><sup>1</sup>/<sub style="margin-right:15px">4</sub> My Muze</h6>
                                        <hr class="no_line" style="margin:0 auto 10px">
                                        <h2>Beautiful Art
                                            <br> is a process</h2>
                                        <hr class="no_line" style="margin:0 auto 30px">
                                        <p>
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</strong>
                                        </p>
                                        <p>
                                            Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 45px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 1/4 part 2-->
                <div class="section mcb-section no-margin-h no-margin-v equal-height-wrap full-width" >
                    <div class="section_wrapper mcb-section-inner">
                        <!-- Content -->
                        <div class="wrap mcb-wrap one-second  valign-middle clearfix animate-box" data-animate-effect="fadeInUp" style="padding:5% 5% 0% 5%;">
                            <div class="">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix" >
                                        <h2>Life
                                            <br> is an Art
                                        </h2>
                                        <hr class="no_line" style="margin:0 auto 30px">
                                        <p>
                                            <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</strong>
                                        </p>
                                        <p>
                                            Et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                            cupidatat non proident, sunt in culpa qui.
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 45px">
                                </div>
                            </div>
                        </div>
                        <!-- Image -->
                        <div class="wrap mcb-wrap one-second  valign-top bg-cover clearfix animate-box" data-animate-effect="fadeInUp" style="background-image:url({% static "baseApp/POZO/LTR/images/gallery/s2.jpg" %});background-repeat:no-repeat;background-position:center">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 550px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2/4 -->
                <div class="section mcb-section no-margin-v bg-contain" style="padding-top:120px;padding-bottom:120px;background-color:#f9f9f9;">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- Title -->
                        <div class="wrap mcb-wrap one  valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column three-fourth column_column column-margin-20px">
                                    <div class="column_attr clearfix" >
                                        <h6><sup>2</sup>/<sub style="margin-right:15px">4</sub>What I do</h6>
                                        <hr class="no_line" style="margin:0 auto 10px">
                                        <h2>Choose the art that suits your lifestyle and needs</h2>
                                        <hr class="no_line" style="margin:0 auto 30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="wrap mcb-wrap one-third valign-top clearfix animate-box" data-animate-effect="fadeInUp" style="padding:0 1%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 15px">
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix" >
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim vee eu fugiat. Lorem ipsum dolor sit amet.
                                        </p>
                                        <hr class="no_line" style="margin:0 auto 25px">
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-37dp0iooy one column_divider">
                                    <hr class="no_line" style="margin:0 auto 25px">
                                </div>
                            </div>
                        </div>
                        <!-- Icons -->
                        <div id="about-icons" class="wrap mcb-wrap two-third valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <!-- Icons -->
                                <div class="column mcb-column two-fifth column_icon_box">
                                    <div class="icon_box icon_position_left no_border">
                                        <div class="image_wrapper"><img src="{% static "baseApp/BE-THEME/images/3.png" %}" class="scale-with-grid">
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Interior
                                                <br> Design
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column two-fifth column_icon_box">
                                    <div class="icon_box icon_position_left no_border">
                                        <div class="image_wrapper"><img src="{% static "baseApp/BE-THEME/images/2.png" %}" class="scale-with-grid">
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Calligraphy
                                                <br> Art
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 15px">
                                </div>
                                <div class="column mcb-column one-sixth column_placeholder">
                                    <div class="placeholder">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="column mcb-column two-fifth column_icon_box">
                                    <div class="icon_box icon_position_left no_border">
                                        <div class="image_wrapper"><img src="{% static "baseApp/BE-THEME/images/1.png" %}" class="scale-with-grid">
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Cubism
                                                <br>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column two-fifth column_icon_box">
                                    <div class="icon_box icon_position_left no_border">
                                        <div class="image_wrapper"><img src="{% static "baseApp/BE-THEME/images/4.png" %}" class="scale-with-grid">
                                        </div>
                                        <div class="desc_wrapper">
                                            <h4 class="title">Futurism
                                                <br> Art Style
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3/4 -->
                <div class="section mcb-section dark bg-cover"
                      style="padding-top:150px;padding-bottom:150px;
                      background-color:#181818;
                      background-image:url({% static "baseApp/BE-THEME/images/ww.jpg" %});
                      background-repeat:no-repeat;
                      background-position:center;
                      background-attachment:fixed;
                      background-size:cover;
                      box-shadow:inset 0 0 0 2000px rgba(24, 24, 24, 0.7);">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- Title -->
                        <div class="wrap mcb-wrap one  valign-top clearfix" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center animate-box" data-animate-effect="fadeInUp" >
                                        <h6><sup>3</sup>/<sub style="margin-right:15px">4</sub>See More</h6>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Content and Button -->
                        <div class="wrap mcb-wrap one  valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix align_center" >
                                        <h1>Visit My Art Gallery</h1>
                                        <a href="{% url "baseApp:art_portfolio" %}" id="callButton" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Go to Gallery</a>
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 4/4 form -->
                <div class="section mcb-section dark" style="padding-top:120px;padding-bottom:140px;background-color:#181818">
                    <div class="section_wrapper mcb-section-inner">
                        <!-- Title -->
                        <div class="wrap mcb-wrap one  valign-top clearfix" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix animate-box" data-animate-effect="fadeInUp" >
                                        <h6><sup>4</sup>/<sub style="margin-right:15px">4</sub> Contact Me</h6>
                                        <hr class="no_line" style="margin:0 auto 10px">
                                        <h2>Ask More Details
                                            <br> Lorem ipsum dolor mit samet</h2>
                                        <hr class="no_line" style="margin:0 auto 30px">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="wrap mcb-wrap one-third  valign-top clearfix" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix animate-box" data-animate-effect="fadeInUp">
                                        <h5 style="font-size:28px; margin-bottom:0; font-weight:400;">
                                          <a href="#">+1 (778) 955-8515</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- email -->
                        <div class="wrap mcb-wrap two-fifth  valign-top clearfix" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix animate-box" data-animate-effect="fadeInUp">
                                        <h5 style="font-size:28px; margin-bottom:0; font-weight:400;">
                                          <a href="#"><span>saeedeh.keshavri@gmail.com</span></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- divider -->
                        <div class="wrap mcb-wrap one  valign-top clearfix" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 40px">
                                </div>
                            </div>
                        </div>
                        <!-- Content -->
                        <div class="wrap mcb-wrap one-third  valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column four-fifth column_column">
                                    <div class="column_attr clearfix contactMe-p" >
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Form -->
                        <div class="wrap mcb-wrap two-third  valign-top clearfix animate-box" data-animate-effect="fadeInUp" >
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix animate-box" data-animate-effect="fadeInUp" >
                                        <div id="contactWrapper">
                                            <form id="contactform">
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your name" type="text" name="name" id="name" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <!-- One Second (1/2) Column -->
                                                <div class="column one-second">
                                                    <input placeholder="Your e-mail" type="email" name="email" id="email" size="40" aria-required="true" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <input placeholder="Subject" type="text" name="subject" id="subject" size="40" aria-invalid="false" />
                                                </div>
                                                <div class="column one">
                                                    <textarea placeholder="Message" name="body" id="body" style="width:100%;" rows="10" aria-invalid="false"></textarea>
                                                </div>
                                                <div class="column one">
                                                    <input type="button" value="Send A Message" id="submit" onClick="return check_values();">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
