{% extends "baseApp/BE-THEME/LTR/design/base.html" %}
{% load static %}
{% load i18n %}



{% block head_title %}
  <title>Interior Designs - Saeedeh Keshvari</title>
  <meta name="description" content="The designer Saeedeh Keshvari believes in power of details & that there is soul and character behind each objects & elements she creates for her interior vision.">
{% endblock head_title %}


{% block head_extra %}
  <!-- CSS BE-THEME -->
  <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/structure_architect5.css" %}">
  <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/architect5.css" %}">
{% endblock head_extra %}


{% block body_content %}
  <div class="container">
    <div id="design-main-img" class="row animate" data-anim-type="fadeIn" data-anim-delay="400">
      <div class="col-12">
					<img src="{{the_design.image_main.url}}" alt="" style="width:100%;height:auto;">
					<h3 class="padding-4-percent animate" data-anim-type="fadeInUp" data-anim-delay="200" style="color:white;">{{the_design.title}}</h3>
          {% if the_design.description %}
					<p class="animate" data-anim-type="fadeInUp" data-anim-delay="600" style="color:white;">{{the_design.description}}</p>
          {% endif %}
			</div>
		</div>
	</div>
	<!-- END BREADCRUMB AREA -->

		<!-- START MAIN CONTENT -->
	<main class="main-content">
		<div class="container">
			<!-- START PAGE PORTFOLIO -->
			<div class="portfolio-wrap ptb-80">
					{% include "baseApp/POZO/LTR/design/mansonry-gallery.html" %}
			</div><!-- END PAGE PORTFOLIO -->
		</div>
	</main><!-- END MAIN CONTENT -->
{% endblock body_content %}


{% block body_JS %}

  <script type="text/javascript">

    $('[data-fancybox="images"]').fancybox({
    	protect: true,
      loop: true,
    });

  </script>
{% endblock body_JS %}
