<!DOCTYPE html>
{% load static %}

<html class="no-js">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Saeedeh Keshvari</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static "baseApp/POZO/LTR/images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "baseApp/POZO/LTR/images/315x315.jpg" %}">
    <link rel="image_src" href="{% static "baseApp/POZO/LTR/images/315x315.jpg" %}">
    <meta property="og:type" content= "website" />
    <meta property="og:url" content="https://saeedehdesigns.com"/>
    <meta property="og:site_name" content="Saeedeh Designs" />
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{% static "baseApp/POZO/LTR/images/315x315.jpg" %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="saeedehdesigns.com"/>
    <meta name="twitter:title" property="og:title" itemprop="name" content="Saeedeh Designs" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="My art is more than just showing beautiful pictures. They deliver a message that creates a spiritual shift within the viewer by touching their hearts" />

    <!-- FONTS -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:100,200,300,400,400italic,500,700,700italic,900'>
    <link rel="stylesheet" type="text/css" href="{% static "baseApp/BE-THEME/plugins/rs-plugin/fonts/font-awesome/css/font-awesome.min.css" %}">

    <!-- CSS -->
    <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/global.css" %}">
    <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/structure.css" %}">
    <link rel='stylesheet' id='style-static' href="{% static "baseApp/BE-THEME/css/be_style.css" %}">
    <link rel='stylesheet' href="{% static "baseApp/BE-THEME/css/custom.css" %}">

    <!-- Revolution Slider -->
    <link rel="stylesheet" type="text/css" href="{% static "baseApp/BE-THEME/plugins/rs-plugin/css/settings.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "baseApp/BE-THEME/plugins/rs-plugin/css/layers.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "baseApp/BE-THEME/plugins/rs-plugin/css/navigation.css" %}">

</head>

<body class="template-slider color-blue layout-full-width">
    <!-- Main Theme Wrapper -->
    <div id="Wrapper">
        <!-- Header Wrapper -->
        <div id="Header_wrapper">
            <!-- Header -->
            <header id="Header">

                <!-- SLIDER EXAMPLE -->
                <section class="example">
                    <article class="content">
                        <div id="rev_slider_46_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                          data-alias="notgeneric1" style="background-color:transparent;padding:0px;">
                            <!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
                            <div id="rev_slider_46_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
                                <ul>
                                    <!-- SLIDE -->
                                    <li data-index="rs-150" data-transition="zoomin"
                                     data-slotamount="7" data-easein="Power4.easeInOut"
                                     data-easeout="Power4.easeInOut" data-masterspeed="2000"
                                     data-rotate="0" data-saveperformance="off" data-title="Saeedeh Designs" data-description="">

                                        <!-- MAIN IMAGE -->
                                        <img src="{% static "baseApp/BE-THEME/plugins/rs-plugin/assets/images/art-gallery.jpg" %}"
                                         alt="" data-bgposition="center center"
                                         data-kenburns="on" data-duration="30000"
                                         data-ease="Linear.easeNone" data-scalestart="100"
                                         data-scaleend="120" data-rotatestart="0" data-rotateend="0"
                                         data-offsetstart="0 0" data-offsetend="0 0"
                                         data-bgparallax="10" class="rev-slidebg" data-no-retina>

                                        <!-- LAYERS -->
                                        <!-- LAYER NR. LOGO -->
                                        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                                         id="slide-150-layer-1"
                                         data-x="['center','center','center','center']"
                                         data-hoffset="['0','0','0','0']"
                                         data-y="['middle','middle','middle','middle']"
                                         data-voffset="['-300','-300','-300','-250']"
                                         data-fontsize="['70','70','70','45']"
                                         data-lineheight="['70','70','70','50']"
                                         data-width="none" data-height="none"
                                         data-whitespace="nowrap" data-transform_idle="o:1;"
                                         data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000"
                                         data-splitout="none" data-responsive_offset="on"
                                         data-elementdelay="0.05" style="z-index: 5; white-space: nowrap;">
                                                <img src="{% static "baseApp/POZO/LTR/images/logo.png" %}" class="logo" alt="Saeedeh Keshvari">
                                        </div>

                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0"
                                         id="slide-150-layer-1"
                                         data-x="['center','center','center','center']"
                                         data-hoffset="['0','0','0','0']"
                                         data-y="['middle','middle','middle','middle']"
                                         data-voffset="['-100','-100','-100','-100']"
                                         data-fontsize="['70','70','70','45']"
                                         data-lineheight="['70','70','70','50']"
                                         data-width="none" data-height="none"
                                         data-whitespace="nowrap" data-transform_idle="o:1;"
                                         data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                         data-start="1000" data-splitin="chars"
                                         data-splitout="none" data-responsive_offset="on"
                                         data-elementdelay="0.05" style="z-index: 5; white-space: nowrap; color:black;">
                                         Saeedeh Keshvari
                                        </div>

                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption NotGeneric-BigButton rev-btn rs-parallaxlevel-0"
                                         id="slide-150-layer-3"
                                         data-x="['center','center','center','center']"
                                         data-hoffset="['-200','-200','-300','0']"
                                         data-y="['middle','middle','middle','middle']"
                                         data-voffset="['100','100','100','100']"
                                         data-width="['300','300','230','230']"
                                         data-height="['150','150','110','50']"
                                         data-fontsize="['28','28','21','21']"
                                         data-fontweight="['800','800','800','800']"
                                         data-lineheight="['70','70','30','0']"
                                         data-transform_idle="o:1;"
                                         data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                         data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255,255,255,0.4);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                                         data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                                         data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                         data-mask_out="x:inherit;y:inherit;"
                                         data-start="2000"
                                         data-splitin="none"
                                         data-splitout="none"
                                         data-actions='[{"event":"click", "action":"simplelink", "target": "_self", "url": "{% url "baseApp:art_index" %}" }]'
                                         data-responsive_offset="on" data-responsive="off"
                                         style="z-index: 5; white-space: nowrap; color:black;">Art Gallery
                                        </div>

                                        <!-- LAYER NR. 4 -->
                                        <div class="tp-caption NotGeneric-BigButton rev-btn rs-parallaxlevel-0"
                                          id="slide-150-layer-4"
                                          data-x="['center','center','center','center']"
                                          data-hoffset="['200','200','300','0']"
                                          data-y="['middle','middle','middle','middle']"
                                          data-voffset="['100','100','100','250']"
                                          data-width="['300','300','230','230']"
                                          data-height="['150','150','110','50']"
                                          data-fontsize="['28','28','21','21']"
                                          data-fontweight="['800','800','800','800']"
                                          data-lineheight="['70','70','30','0']"
                                          data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                                          data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255,255,255,0.4);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                                          data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                                          data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                          data-mask_out="x:inherit;y:inherit;" data-start="2000" data-splitin="none"
                                          data-splitout="none"
                                          data-actions='[{"event":"click", "action":"simplelink", "target": "_self", "url": "{% url "baseApp:design_index" %}" }]'
                                          data-responsive_offset="on" data-responsive="off"
                                          style="z-index: 5; white-space: nowrap; color:black;">Interior Design
                                        </div>
                                    </li>
                                </ul>
                                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                            </div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->

                    </article>
                </section>
            </header>
        </div>
    </div>


    <!-- JS -->
    <script src="{% static "baseApp/BE-THEME/js/jquery-2.1.4.min.js" %}"></script>
    <!-- <script src="{% static "baseApp/BE-THEME/js/mfn.menu.js" %}"></script> -->
    <!-- <script src="{% static "baseApp/BE-THEME/js/jquery.plugins.js" %}"></script> -->
    <!-- <script src="{% static "baseApp/BE-THEME/js/jquery.jplayer.min.js" %}"></script> -->
    <!-- <script src="{% static "baseApp/BE-THEME/js/animations/animations.js" %}"></script> -->
    <!-- <script src="{% static "baseApp/BE-THEME/js/email.js" %}"></script> -->
    <!-- <script src="{% static "baseApp/BE-THEME/js/scripts.js" %}"></script> -->

    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.video.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.actions.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.kenburn.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.navigation.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.migration.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.parallax.min.js" %}"></script>
    <script src="{% static "baseApp/BE-THEME/plugins/rs-plugin/js/extensions/revolution.extension.carousel.min.js" %}"></script>

    <script>
        var tpj = jQuery;
        var revapi46;
        tpj(document).ready(function() {
            if (tpj("#rev_slider_46_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_46_1");
            } else {
                revapi46 = tpj("#rev_slider_46_1").show().revolution({
                    sliderType: "standard",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 720],
                    visibilityLevels:[1240, 1024, 1024, 480],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        disable_onmobile: "on"
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    </script>
</body>
</html>
